/********** VARIABLES **********/
:root {
  --color-white    : #ffffff;
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-black    : #1e1e1e;
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-50 : rgba(211, 197, 197, 0.39);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-blue-800 : #007ff7;
}
/********** DEFAULT SETTINGS **********/
* {
  margin    : 0   ;
  padding   : 0   ;
  outline   : 0   ;
  border    : 0   ;
  list-style: none;
}
button img{
  cursor     : url('./cursor/Link.cur'), pointer;
}
body {
  user-select: none;
  font-family: 'Lexend', sans-serif;
  background : url('./background/mac\ os\ big\ sur.jpg');
  background-size    : cover    ;
  background-position: center   ;
  background-repeat  : no-repeat;
}

/********** NAVBAR **********/
.navbar {
  width   : 100%   ;
  padding : 1px 0px;
  position: fixed  ;
  top  : 0;
  left : 0;
  color: var(--color-white-900) ;
  box-shadow     : 0 2px 10px var(--color-black-100);
  backdrop-filter: blur(9px)    ;
  background     : var(--color-black-200);
  display        : flex         ;
  align-items    : center       ;
  justify-content: space-between;
  z-index    : 20 ;
  font-weight: 400;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar > ul {
  display    : flex  ;
  align-items: center;
}
.navbar li {
  position   : relative;
  font-size  : 15px    ;  
  margin   : 0 4px     ;
  cursor     : url('./cursor/Link.cur'), pointer;
  text-shadow: 0 3px 10px rgb(0, 0, 0);
  transition : 0.2s    ;
}
.navbar .leftLi.logo img {
  transform  : translateY(1px);
}
.navbar svg {
  fill: var(--color-white);
}
.navbar .leftLi {
  padding  : 4px 8px;
}
@media screen and (max-width: 900px) {
  .hidden {
    display: none;
  }
}
.navbar .leftLi:hover {
  color           : var(--color-white);
  border-radius   : 5px;
  background-color: var(--color-white-200);
}
li.app_name {
  display    : none;
  font-weight: 900 !important;
}
.navbar__right{
  display    : flex;
  align-items: center;
}
.navbar__right .changing_lang{
  display    : flex;
  align-items: center;
  padding    : 4px 8px;
}
@media screen and (max-width:600px) {
  .navbar__right .changing_lang{
    display  : none;
  }
}
.navbar__right .changing_lang img {
  width: 30px; 
}
.navbar__right .changing_lang ul > li > button img {
  margin-right    : 5px;
}
.navbar__right .changing_lang:hover {
  color: var(--color-white);
  border-radius   : 3px;
  background-color: var(--color-white-200);
}
.navbar__right .clock #clock {
  margin-left : 15px;
  margin-right: 15px;
}
.navbar__right li .control-center{
  width  : 32px ;
  height : 19px ; 
}
li > ul {
  display       : none    ;
  position      : absolute;
  align-items   : center  ;
  flex-direction: column  ;
  left: 0%  ;
  top : 100%;
  font-weight: 600;
  padding    : 4px;
  min-width  : 200px;
  background : var(--color-white-400);
  backdrop-filter: blur(5px);
  border-radius  : 5px      ;
  overflow   : hidden;
  box-shadow : 0 2px 7px rgba(0, 0, 0, 0.363)  ;
}
li:hover > ul {
  display   : flex;
}
li > ul > li {
  width         : 100%;
  border-bottom : 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px ;
  margin-bottom : 5px ;
}
li > ul > li:last-child {
  border-bottom : 0   ;
  padding-bottom: 0   ;
  margin-bottom : 0   ;
  margin-top    : 5px ;
}
li > ul > li > button {
  width  : 100%;
  height : 100%;
  display: flex;
  flex-direction: row;
  text-align    : left   ;
  font-family   : 'Lexend', sans-serif;
  font-weight   : 600  ;
  letter-spacing: 0.5px;
  padding       : 4px 8px;
  border    : 0;
  outline   : 0;
  cursor    : pointer    ;
  background: transparent;
  border-radius: 5px ;
  transition   : 80ms;
}
li > ul > li > button:hover {
  color     : var(--color-white)   ;
  background: var(--color-blue-800);
}
li > ul > li > button:active {
  background-color: #0063f7;
}
@media screen and (max-width: 600px) {
  .navbar__right .clock #clock {
    margin-left   : 0;
  }
}
/**********DOCK Start*********/
.dock {
  position : fixed  ;
  padding  : 3px 8px;
  bottom   : 3%     ;
  left     : 50%    ;
  transform: translateX(-50%);
  backdrop-filter: blur(80px);
  border: 0.25px solid var(--color-white-100);
  background   : var(--color-white-100);
  border-radius: 14px;
  display      : flex;
  align-items  : center;
  box-shadow   : 0 0 30px rgba(0, 0, 0, 0.555);
  z-index      : 10;
}
@media screen and (max-width: 900px) {
  .dock button img {
    width : 60px;
  }
  .dock {
    top   : 83vh;
    height: 64px;
    border-radius: 20px;
  }
}
.dock .point {
  width : 6px  ;
  height: 6px  ;
  margin: 0px 0;
  background   : lightcoral;
  border-radius: 50%         ;
  display      : none        ;
  animation    : top-to-bottom 0.3s;
  transition   : 0.3s ;
}
.dock .column {
  width     : 1px  ;
  height    : 45px ;
  margin    : 0 4px;
  background: var(--color-black-50);
}
.dock .icon {
  position   : relative;
  cursor     : pointer ;
  display    : grid    ;
  place-items: center  ;
  background : none    ;
  border     : none    ;
  outline    : none    ;
  transition : all 0.1s;
}
.dock .icon::after {
  position   : absolute     ;
  display    : block        ;
  background : rgba(245, 245, 245, 0.412);
  backdrop-filter: blur(5px);
  display        : flex     ;
  justify-content: center   ;
  align-items    : center   ;
  z-index        : -1       ;
  clip-path      : polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 80%, 43% 80%, 50% 101%, 57% 80%, 100% 80%, 100% 0%);
} 
.dock .icon:nth-child(1):hover::after{
  content: 'Finder'      ;
}
.dock .icon:nth-child(2):hover::after{
  content: 'Launchpad'   ;
}
.dock .icon:nth-child(3):hover::after{
  content: 'App store'   ;
}
.dock .icon:nth-child(4):hover::after{
  content: 'Message'     ;
}
.dock .icon:nth-child(5):hover::after{
  content: 'Itunes music';
}
.dock .icon:nth-child(6):hover::after{
  content: 'Book'        ;
}
.dock .icon:nth-child(7):hover::after{
  content: 'Mail'        ;
}
.dock .icon:nth-child(8):hover::after{
  content: 'Photos'      ;
}
.dock .icon:nth-child(9):hover::after{
  content: 'Calculator'  ;
}
.dock .icon:nth-child(10):hover::after{
  content: 'Notes'       ;
}
.dock .icon:nth-child(11):hover::after{
  content: 'Terminal'    ;
}
.dock .icon:nth-child(12):hover::after{
  content: 'Preferences' ;
}
.dock .icon:hover::after {
  font-size: 13px    ;  
  position : absolute;
  z-index  : 1       ;
  top      : -45%    ;
  left     : -15%    ;
  width    : 78px    ;
  height   : 16px    ;
  padding  : 4px 3px 10px 3px;
  border-radius: 6px ;
  font-family  : 'lexend' , sans-serif;
  font-weight  : 700;
  transform: scale(0.8);
}
.dock .icon:hover {
  transform: scale(1.5);
  z-index  : 10        ;
}
.dock .icon img {
  width    : 63px;
  transform: translateY(-2.5px);
  filter   : drop-shadow(0 0 5px rgb(44, 44, 44));
}
.dock .icon img:active {
  /* animation: to-top-bottom 1s; */
  filter   : brightness(0.6) drop-shadow(0 0 5px rgb(44, 44, 44));
  /* outline: none;
  background: transparent; */
}
/**********DOCK End*********/

/*******APPS CONTAINER********/
.container_apps {
  width: 100%;
  height: 90%;
  z-index: -50;
  display: grid;
  direction: rtl;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 11.11111% 11.11111% 11.11111% 11.11111% 11.11111% 11.11111% 11.11111% 11.11111% 11.11111% 11.11111% ;
}
@media screen and (max-width:900px) {
  .container_apps {
    grid-template-columns: 20% 20% 20% 20% 20% ;
  }
}
.container_apps button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 2;
}
.container_apps button:focus{
  background-color: #007ff7;
  border-radius: 6px;
}
.container_apps button img {
  width: 50%;
}
.container_apps button input {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 0.8px;
}
/********** WINDOW Start**********/
.container__Window {
  width  : 100%;
  height : 90% ;
  display: flex;
  justify-content: center;
  align-items: center    ;
  margin : 0 auto        ;
  display: none          ;
}
.window {
  display : none     ;
  width   : 70%      ;
  height  : 430px    ;
  overflow: hidden   ;
  border-radius: 1rem;
  background   : var(--color-black);
  box-shadow   : 0 20px 30px var(--color-black-200);
  border   : 1px solid #7c7d7d34 ;
  animation: zoom-out 0.3s;
}
@media screen and (max-width:600px) {
  .window {
    width: 85%;
  }
}
.window__taskbar {
  height    : 10%               ;
  display   : flex              ;
  justify-content: space-between;
  padding   : 0 16px            ;
  border-bottom: 1px solid var(--color-white-200);
  background: linear-gradient(to bottom, #131313, var(--color-black));
}
.window__taskbar--actions {
  display    : flex  ;
  align-items: center;
}
.window__taskbar--actions button {
  display: flex      ;
  justify-content: center;
  align-items    : center;
  width  : 1px       ;
  height : 1px       ;
  cursor : pointer   ;
  padding: 8px       ;
  border-radius: 50% ;
  transition   : 0.4s;
}
.window__taskbar--actions button:not(:last-child) {
  margin-right    : 8px;
}
.window__taskbar--actions button:nth-child(1) {
  background-color: #FF6057;
  position        : relative ;
}
.window__taskbar--actions button:nth-child(1)::after{
  content  : '×'        ;
  display  : block      ;
  font-size: 14px       ;
  color    : transparent;
}
.window__taskbar--actions button:nth-child(1):hover::after{
  color: black;
}
.window__taskbar--actions button:nth-child(1):hover {
  background-color: #fc3c32;
}
.window__taskbar--actions button:nth-child(2) {
  background-color: #FEBC2E;
}
.window__taskbar--actions button:nth-child(2)::after{
  content  : '−'  ;
  display  : block;
  font-size: 14px ;
  color    : transparent;
}
.window__taskbar--actions button:nth-child(2):hover::after{
  color: black;
}
.window__taskbar--actions button:nth-child(2):hover {
  background-color: #ffa600;
}
.window__taskbar--actions button:nth-child(3) {
  background-color: #28C740;
}
.window__taskbar--actions button:nth-child(3)::after{
  content    : '↨'  ;
  transform  : rotate(-45deg) translateX(-1px) translateY(-2px);
  display    : block;
  font-size  : 14px ;
  color      : transparent;
  font-weight: 900  ;
}
.window__taskbar--actions button:nth-child(3):hover::after{
  color      : black;
}
.window__taskbar--actions button:nth-child(3):hover {
  background-color: #12aa29;
}
.window__taskbar--content {
  width  : 100%;
  height : 100%;
  display: flex;
  align-items    : center;
  justify-content: center;
}
.window__taskbar--content h2 {
  color      : var(--color-white);
  font-weight: 600 ;
  font-size  : 18px;
}
/********** TERMINAL start ********/
.terminal_content{
  font-family: "Courier New", Courier, monospace;
  font-size  : 20px   ; 
  padding    : 15px   ;
  color      : white;
  width      : 100%   ;
  height     : 90%    ;
  background-color: transparent;
}
.color_green{
  color: green;
}
.color_blue{
  color: rgb(31, 72, 255);
}
/******** NOTE Start ********/
.window__taskbar--right {
  width  : 60%  ;
  height : 100% ;
  background-color: transparent;
  float  : right;
  display: flex ;
  align-items    : center      ;
  justify-content: space-around;
}
@media screen and (max-width:600px) {
  .window__taskbar--right {
    width: 45%;
  }
}
.Customize__icon img {
  width  : 27px;
  padding: 3px ;
  border : 1px solid rgba(123, 123, 123, 0.412);
  border-radius: 9px ;
  transition   : 0.2s;
  cursor : pointer   ;
}
.Customize__icon img:hover {
  background-color: rgb(88, 88, 88);
}
.Customize__icon img:active {
  background-color: #464646;
  border-color    : #dddbdb;
}
.window__taskbar--right  input[type='search'] {
  width : 45%;
  height: 75%;
  background-color: #49474791;
  border-radius   : 5px ;
  border: 1px solid rgba(123, 123, 123, 0.412);
  padding-left    : 8px ;
  outline         : none;
  color : white  ;
  font-size  : 18px;
  font-family: 'Source Sans Pro', sans-serif;
}
.content {
  width  : 100%;
  height : 90% ;
  display: flex;
}
.sidebar {
  width       : 30% ;
  height      : 100%;
  border-right: 1px solid rgba(123, 123, 123, 0.412);
}
.impor-content {
  width : 70%;
  height: 100%;
}
.impor-content textarea {
  width  : 100%;
  /* height: calc(100% - 41px); */
  height : 100%;
  padding: 16px;
  background: transparent;
  border : none;
  outline: none;
  resize : none;
  display: none;
  color  : var(--color-white-900)   ;
  font-size  : 18px;
  font-family: 'Raleway', sans-serif;
}
.notes {
  display: none;
  width  : 100%;
  height : 100%;
  flex-direction  : column     ;
  align-items     : center     ;
  justify-content : flex-start ;
  background-color: transparent;
  animation       : top-to-bottom 0.3s;
}
.notes input[type='text'] {
  width       : 100%;
  padding-left: 10px;
  height      : 15% ;
  background-color: transparent; 
  border-bottom   : 1px solid rgb(102, 102, 102);
  font-family     : 'Source Sans Pro', sans-serif ;
  font-size       : 16px;
  outline   : none   ;
  color     : white;
  transition: 0.2s   ;
}
.notes input[type='text']:active {
  background-color: #1b1b1b;
}
@media screen and (max-width:900px) {
  .window__taskbar--right {
    width: 70%;
  }
}
/*note app end */

/********** LAUNCHPAD **********/
.launchpad {
  display: none;
  width  : 100%;
  height : 100%;
  background-color: transparent     ;
  backdrop-filter : blur(25px)      ;
  -webkit-backdrop-filter: blur(5px);
  z-index: -10 ;
}
.searchbox {
  width  : 100% ;
  height : 100px;
  display: flex ;
  justify-content: center;
  align-items    : center;
}
.searchbox .searchContainer {
  height : 30px ;
  width  : 220px;
  backdrop-filter: blur(6px)   ;
  display: flex;
  align-items    : center      ;
  justify-content: space-evenly;
  border-top     : 1px solid rgba(255, 255, 255, 0.582);
  border-bottom  : 1px solid rgba(255, 255, 255, 0.582);
  border-right   : 1px solid rgba(255, 255, 255, 0.219);
  border-left    : 1px solid rgba(255, 255, 255, 0.219);
  border-radius  : 4px;
  padding: 0px 3px    ; 
}
.searchbox .searchContainer svg {
  fill: white;
}
.searchbox input {
  background-color: transparent;
  border     : none   ;
  outline    : none   ;
  text-align : center ;
  color      : white;
  font-size  : 17px   ;
  height     : 100%   ;
  font-family: 'Roboto', sans-serif;
}
.searchbox input::placeholder {
  color      : white;
  font-weight: 100    ;
}
.searchbox input:focus {
  text-align : left   ;
}
.Apps-container {
  width  : 90%   ;
  height : 60%   ;
  margin : 0 auto;
  display: grid  ; 
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows   : 33% 33% 33%    ;
}
.launchpad .child-launchpad {
  display: flex   ;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  cursor : pointer;
}
.launchpad .child-launchpad img {
  width  : 80px;
}
@media screen and (min-width:1200px) {
  .launchpad .child-launchpad img {
    width   : 95px;
  }
}
.launchpad .child-launchpad:active {
  animation : vibrate 0.1s ease-in forwards infinite alternate;
  transition: transform 0.1s cubic-bezier(0.42, 0, 1, 0.2)    ;
}


.launchpad .child-launchpad p {
  color      : white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900    ;
}

/*scroll bar start*/
::-webkit-scrollbar-track {
  background-color: #34282d;
  border-radius   : 10px     ;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 11px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background   : #8b8b8d;
  border-radius: 10px  ;
  cursor: pointer      ;
}
/*scroll bar end*/

/********** ANIMATIONS **********/
@keyframes zoom-out {
  0% {
    transform: scale(1)  ;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1)  ;
  }
}
@keyframes to-top-bottom {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(-3px) ;
  }
  75% {
    transform: translateY(-21px);
  }
  100% {
    transform: translateY(0px)  ;
  }
}
@keyframes vibrate {
  0% {
    transform: rotate(9deg) ;
  }
  100% {
    transform: rotate(-9deg);
  }
}
@keyframes top-to-bottom {
  0% {
    transform: translateY(-60px);
    opacity  : 0;
  }
  100% {
    transform: none;
    opacity  : 1   ;
  }
}
/********** CALCULATOR **********/
.calculator {
  display   : none  ;
  width     : 20rem ;
  max-width : 100%  ;
  height    : 25rem ;
  max-height: 80%   ;
  background: var(--color-black-500);
  backdrop-filter: blur(1rem);
  border-radius  : 1rem      ;
  box-shadow: 0 0.5rem 2rem var(--color-black-500);
  border    : 1px solid var(--color-white-200)    ;
  animation : zoom-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.calculator__top {
  width  : 100% ;
  height : 30%  ;
  display: flex ;
  flex-direction: column;
}
.calculator__top--taskabr {
  height     : 40px  ;
  padding    : 0 2px ;
  display    : flex  ;
  align-items: center;
}
.calculator__top--taskabr button {
  width  : 1px;
  height : 1px;
  cursor : pointer;
  padding: 8px    ;
  border-radius: 50% ;
  margin-left  : 8px ;
  transition   : 0.4s;
}
.calculator__top--taskabr button:nth-child(1) {
  background-color: #ff6059;
}
.calculator__top--taskabr button:nth-child(1):hover {
  background-color: #fc3c32;
}
.calculator__top--taskabr button:nth-child(2) {
  background-color: #ffbd2e;
}
.calculator__top--taskabr button:nth-child(2):hover {
  background-color: #ffa600;
}
.calculator__top--taskabr button:nth-child(3) {
  background-color: #28c941;
}
.calculator__top--taskabr button:nth-child(3):hover {
  background-color: #12aa29;
}
.calculator__top--output {
  flex : 1;
  color: var(--color-white);
  font-size  : 1.8rem;
  font-family: "Roboto" , sans-serif;
  border     : none  ;
  background : transparent;
  padding    : 0 0.8rem   ;
}
.input {
  width  : 100%;
  height : 70% ;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%     ;
  grid-template-rows   : 20% 20% 20% 20% 20%    ;
}
.input .button {
  width  : 100%;
  height : 100%;
  outline: 0   ;
  font-size  : 1.8rem;
  font-family: "Roboto" , sans-serif;
  border: 1px solid rgba(48, 48, 48, 0.563);
}
.r-radius {
  border-bottom-right-radius: 15px  ;
}
.large {
  grid-column-start         : span 2;
  border-bottom-left-radius : 15px  ;
}
.operator {
  background-color: #fd9e2a;
  color: rgb(255, 255, 255);
}
.number {
  background-color: #6c7177;
  color: rgb(255, 255, 255);
}
.operator-2 {
  background-color: #4b4b4b;
  color: white;
}
/*calculator end*/

/* Right click menu */

.context-menu {
  padding-right: 10px ;
  padding-left : 10px ;
  position: absolute  ;
  border-radius: 8px  ;
  text-align: center  ;
  background: rgba(0, 0, 0, 0.096)            ;
  border    : 1px solid rgba(255, 255, 255, 0.281);
  overflow  : hidden   ;
  backdrop-filter: blur(15px);
}
.context-menu ul {
  padding: 0;
  margin : 0;
  min-width : 150px;
  list-style: none ;
}
.context-menu ul li {
  border-bottom: 1px solid rgba(221, 214, 214, 0.164);
}
.context-menu ul li:last-child {
  border: none;
}
.context-menu ul li button {
  width : 100%;
  height: 100%;
  cursor: pointer ;
  text-align: left;
  background: none;
  border: none;
  color : rgb(255, 255, 255);
  font-size    : 15px;
  font-family  : "Lexend";
  border-radius: 5px;
  padding: 3px 5px 3px 8px;
  margin : 4px 0  ;
  font-weight: 300;
}
.context-menu ul button:hover {
  background : var(--color-blue-800);
}