/********** VARIABLES **********/
:root {
  --color-white: #ffffff;
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-black: #1e1e1e;
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-50: rgba(211, 197, 197, 0.39);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
}

/********** DEFAULT SETTINGS **********/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}
body {
  user-select: none;
  font-family: 'Lexend', sans-serif;
  background: url('./background/mac\ os\ big\ sur.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/********** NAVBAR **********/
.navbar {
  width: 100%;
  padding: 1px 0px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-white-900);
  box-shadow: 0 2px 10px var(--color-black-100);
  backdrop-filter: blur(6px);
  background: var(--color-black-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  font-family: 'Lexend', sans-serif;
}
.navbar > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar li {
  font-size: 15px;
  cursor: url('./cursor/Link.cur'), pointer;
}
.navbar svg {
  fill: var(--color-white);
}
.navbar .parent {
  position: relative;
  transition: 0.2s;
  padding: 4px 8px;
  margin: 0 4px;
  text-shadow: 0 3px 10px rgb(0, 0, 0);
}
@media screen and (max-width: 900px) {
  .hidden {
    display: none;
  }
}
.navbar .parent.logo img {
  transform: translateY(1px);
}
.navbar .parent:hover {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white-200);
}

li.app_name {
  display: none;
}
.parent > ul {
  display: none;
  position: absolute;
  left: 0;
  font-weight: 600;
  padding: 4px;
  min-width: 200px;
  background: var(--color-white-400);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.parent:hover > ul {
  display: block;
}
.parent > ul > li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Lexend', sans-serif;
}
.parent > ul > li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.parent > ul > li > button {
  text-align: left;
  padding: 4px 8px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}
.parent > ul > li > button:hover {
  color: #ffffff;
  background: #007ff7;
}
.navbar__right{
  display: flex;
  align-items: center;
}
.navbar__right li {
  margin: 0 5px;
}
.navbar__right .changing_lang{
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
  padding: 6px 8px;
  text-shadow: 0 3px 10px rgb(0, 0, 0);
}
@media screen and (max-width:600px) {
  .navbar__right .changing_lang{
    display: none;
  }
}
.navbar__right .changing_lang ul {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 100%;
  left: 0;
  padding: 2px;
  min-width: 200px;
  background: var(--color-white-400);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  margin-top: 3px;
  overflow: hidden;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.navbar__right .changing_lang ul > li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.652);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Lexend', sans-serif;
}
.navbar__right .changing_lang ul > li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.navbar__right .changing_lang ul > li > button {
  text-align: left;
  padding: 4px 8px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}
.navbar__right .changing_lang ul > li > button:hover {
  color: #ffffff;
  background: #007ff7;
}
.navbar__right .changing_lang img {
  width: 26px; 
  margin-right: 7px;
  transform: translateY(1px);
}
.navbar__right .changing_lang:hover {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white-200);
}
.navbar__right .clock {
  display: flex;
  text-shadow: 0 3px 10px rgb(0, 0, 0);
}
.navbar__right .clock #clock {
  margin-left: 15px;
  margin-right: 15px;
}
.navbar__right li .control-center{
  width: 32px;
  height: 29px;
}
@media screen and (max-width: 600px) {
  .navbar__right .clock #clock {
    margin-left: 0;
  }
}
/*bootom menu*/

.dock {
  position: fixed;
  padding: 3px 8px;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(80px);
  border: 0.25px solid var(--color-white-100);
  background: var(--color-white-100);
  border-radius: 14px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.555);
  z-index: 10;
}
@media screen and (max-width: 900px) {
  .dock button img {
    width: 60px;
  }
  .dock {
    top: 83vh;
    height: 64px;
    border-radius: 20px;
  }
}
.dock .point-launchpad {
  width: 6px;
  height: 6px;
  margin: 0px 0;
  background: lightcoral;
  border-radius: 50%;
  display: none;
  animation: top-to-bottom 0.3s;
}
.dock .point-cal {
  width: 6px;
  height: 6px;
  margin: 0px 0;
  background: lightcoral;
  border-radius: 50%;
  animation: top-to-bottom 0.3s;
  display: none;
}
.dock .point-terminal {
  width: 6px;
  height: 6px;
  margin: 0px 0;
  background: lightcoral;
  border-radius: 50%;
  animation: top-to-bottom 0.3s;
  display: none;
}
.dock .point-note {
  width: 6px;
  height: 6px;
  margin: 0px 0;
  background: lightcoral;
  border-radius: 50%;
  animation: top-to-bottom 0.3s;
  display: none;
}
.dock .column {
  width: 1px;
  height: 45px;
  margin: 0 4px;
  background: var(--color-black-50);
}
.dock button {
  position   : relative;
  cursor     : pointer;
  display    : grid;
  place-items: center;
  background: none;
  border: none;
  outline: none;
  transition : all 0.1s;
}
.dock button::after {
  position   : absolute;
  display    : block;
  background : rgba(245, 245, 245, 0.412);
  backdrop-filter: blur(20px);
  display    : flex;
  justify-content: center;
  align-items    : center;
  z-index        : -1;
  /*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 44% 92%, 49% 106%, 54% 92%, 0% 85%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 44% 92%, 49% 106%, 54% 92%, 0% 85%);*/
} 
.dock button:nth-child(1):hover::after{
  content: 'Finder';
}
.dock button:nth-child(2):hover::after{
  content: 'Launchpad';
}
.dock button:nth-child(3):hover::after{
  content: 'App store';
}
.dock button:nth-child(4):hover::after{
  content: 'Message';
}
.dock button:nth-child(5):hover::after{
  content: 'Itunes music';
}
.dock button:nth-child(6):hover::after{
  content: 'Book';
}
.dock button:nth-child(7):hover::after{
  content: 'Mail';
}
.dock button:nth-child(8):hover::after{
  content: 'Photos';
}
.dock button:nth-child(9):hover::after{
  content: 'Calculator';
}
.dock button:nth-child(10):hover::after{
  content: 'Notes';
}
.dock button:nth-child(11):hover::after{
  content: 'Terminal';
}
.dock button:nth-child(12):hover::after{
  content: 'Preferences';
}
.dock button:hover::after {
  font-size: 13px;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: -10%;
  width: 78px;
  height: 16px;
  padding: 3px;
  border-radius: 4px;
}
.dock button:hover {
  transform: scale(1.6);
  z-index: 10;
}
.dock button img {
  width: 63px;
  transform: translateY(-2.5px);
  filter: drop-shadow(0 0 5px rgb(44, 44, 44));
}
.dock button img:active {
  animation: to-top-bottom 1s;
}

@keyframes to-top-bottom {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(-21px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: none;
}

/********** WINDOW **********/
.window {
  display: none;
  width: 70%;
  height: 430px;
  overflow: hidden;
  border-radius: 10px;
  background: var(--color-black);
  box-shadow: 0 20px 30px var(--color-black-200);
  animation: zoom-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media screen and (max-width: 600px) {
  .window {
    width: 85%;
  }
  
}
@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.window__taskbar {
  position: relative;
  height: 40px;
  display: flex;
  padding: 0 16px;
  border-bottom: 1px solid var(--color-white-200);
}
.window__taskbar--actions {
  display: flex;
  align-items: center;
}
.window__taskbar--actions button {
  width: 1px;
  height: 1px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: 0.4s;
}
.window__taskbar--actions button:not(:last-child) {
  margin-right: 8px;
}
.window__taskbar--actions button:nth-child(1) {
  background-color: #ff6059;
}
.window__taskbar--actions button:nth-child(1):hover {
  background-color: #fc3c32;
}
.window__taskbar--actions button:nth-child(2) {
  background-color: #ffbd2e;
}
.window__taskbar--actions button:nth-child(2):hover {
  background-color: #ffa600;
}
.window__taskbar--actions button:nth-child(3) {
  background-color: #28c941;
}
.window__taskbar--actions button:nth-child(3):hover {
  background-color: #12aa29;
}
.window__taskbar--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.window__taskbar--content h2 {
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
}
.window textarea {
  width: 100%;
  height: calc(100% - 41px);
  display: flex;
  padding: 16px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  color: var(--color-white-900);
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

/* note app start*/
.taskabr-center {
  width: 100%;
  height: 10%;
  background-color: #212121;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.taskabr-center .content-left {
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  height: 100%;
}
.content-left img {
  width: 33px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.content-left img:hover {
  background-color: rgb(88, 88, 88);
  border: 1px solid white;
}
.content-left img:active {
  background-color: #464646;
  border-color: #dddbdb;
}

.taskabr-center .center {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center input[type='search'] {
  width: 100%;
  height: 83%;
  background-color: #3d3c3c;
  box-shadow: 0px 4px 0px -1px black;
  border-radius: 7px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: 1s;
}
@media screen and (max-width: 600px) {
  .taskabr-center .center {
    width: 80%;
  }
  .center input[type='search'] {
    width: 100%;
  }
}
.center input[type='search']:focus {
  box-shadow: none;
  transform: translateY(1px);
}
.content-right {
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  height: 100%;
}
.content-right img {
  width: 33px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.content-right img:hover {
  background-color: rgb(88, 88, 88);
  border: 1px solid white;
}
.content-right img:active {
  background-color: #464646;
  border-color: #dddbdb;
}
.content {
  width: 100%;
  height: 80%;
  display: flex;
}
.sidebar {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgb(102, 102, 102);
}
.sidebar h1 {
  color: white;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  border-bottom: 1px solid rgb(102, 102, 102);
  font-size: 21px;
}
@media screen and (max-width) {
  .sidebar h1 {
    font-size: 13px;
  }
}
.impor-content {
  width: 70%;
  border-left: 1px solid rgb(102, 102, 102);
  height: 100%;
}
.impor-content textarea {
  width: 100%;
  height: calc(100% - 41px);
  display: flex;
  padding: 16px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  display: none;
  color: var(--color-white-900);
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}
.notes {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-bottom: 1px solid rgb(102, 102, 102);
  transition: 0.2s;
  display: none;
  animation: top-to-bottom 0.3s;
}
.notes:active {
  background-color: #1b1b1b;
  border-color: rgb(80, 79, 79);
}
.notes input[type='text'] {
  width: 90%;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  outline: none;
  color: white;
}
@keyframes top-to-bottom {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
/*note app end */

/********** LAUNCHPAD **********/
.launchpad {
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -10;
}
.searchbox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbox input {
  border-radius: 4px;
  background-color: transparent;
  backdrop-filter: blur(6px);
  outline: none;
  border-top: 1px solid rgba(255, 255, 255, 0.582);
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);
  border-right: 1px solid rgba(255, 255, 255, 0.219);
  border-left: 1px solid rgba(255, 255, 255, 0.219);
  padding-left: 6px;
  text-align: center;
  color: white;
  font-size: 17px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
}
.searchbox input::before {
  font-family: 'FontAwesome';
  color:rgb(255, 254, 254);
  position: relative;
  left: -5px;
  content: "fas fa-search";    
}
.searchbox input::placeholder {
  color: white;
  font-weight: 100;
}
.searchbox input:focus {
  text-align: left;
}
.Apps-container {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
}
.launchpad .child-launchpad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.launchpad .child-launchpad img {
  width: 80px;
}
@media screen and (min-width:1200px) {
  .launchpad .child-launchpad img {
    width: 95px;
  }
}
.launchpad .child-launchpad:active {
  animation: vibrate 0.1s ease-in forwards infinite alternate;
  transition: transform 0.1s cubic-bezier(0.42, 0, 1, 0.2);
}
@keyframes vibrate {
  0% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(-9deg);
  }
}

.launchpad .child-launchpad p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/*scroll bar start*/
::-webkit-scrollbar-track {
  background-color: #34282d;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 11px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8b8d;
  border-radius: 10px;
  cursor: pointer;
}
/*scroll bar end*/

/********** ANIMATIONS **********/
@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/********** CALCULATOR **********/
.calculator {
  display: none;
  width: 25rem;
  max-width: 100%;
  height: 40rem;
  max-height: 80%;
  background: var(--color-black-500);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem var(--color-black-500);
  border: 1px solid var(--color-white-200);
  animation: zoom-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.calculator__top {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.calculator__top--taskabr {
  height: 40px;
  padding: 0 2px;
  display: flex;
  align-items: center;
}
.calculator__top--taskabr button {
  width: 1px;
  height: 1px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  margin-left: 8px;
  transition: 0.4s;
}
.calculator__top--taskabr button:nth-child(1) {
  background-color: #ff6059;
}
.calculator__top--taskabr button:nth-child(1):hover {
  background-color: #fc3c32;
}
.calculator__top--taskabr button:nth-child(2) {
  background-color: #ffbd2e;
}
.calculator__top--taskabr button:nth-child(2):hover {
  background-color: #ffa600;
}
.calculator__top--taskabr button:nth-child(3) {
  background-color: #28c941;
}
.calculator__top--taskabr button:nth-child(3):hover {
  background-color: #12aa29;
}
.calculator__top--output {
  flex: 1;
  color: var(--color-white);
  font-size: 1.8rem;
  border: none;
  background: transparent;
  padding: 0 0.8rem;
}
@media screen and (max-width: 600px) {
  .calculator {
    width: 70%;
  }
}
.input {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.button {
  font-size: 1.5rem;
}
button {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid rgba(48, 48, 48, 0.563);
}
.r-radius {
  border-bottom-right-radius: 15px;
}
.large {
  grid-column-start: span 2;
  border-bottom-left-radius: 15px;
}
.operator {
  background-color: #fd9e2a;
  color: rgb(255, 255, 255);
}
.number {
  background-color: #6c7177;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.operator-2 {
  background-color: #4b4b4b;
  color: white;
}
/*calculator end*/
