/********** VARIABLES **********/
:root {
  --color-white: #ffffff;
  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);
  --color-black: #1e1e1e;
  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-50: rgba(211, 197, 197, 0.39);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-600: rgba(0, 0, 0, 0.6);
}

/********** DEFAULT SETTINGS **********/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
}
body {
  user-select: none;
  font-family: Inter;
  background: url('./background/imac2.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  cursor: url('./cursor/normal.cur'), default;
}

/********** NAVBAR **********/
.navbar {
  width: 100%;
  /*padding: 2px 16px;*/
  padding: 2px 0;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-white-900);
  box-shadow: 0 2px 10px var(--color-black-100);
  backdrop-filter: blur(5px);
  background: var(--color-black-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar li {
  font-size: 15px;
  cursor: url('./cursor/Link.cur'), pointer;
}
.navbar svg {
  fill: var(--color-white);
}
.navbar .parent {
  position: relative;
  transition: 0.2s;
  padding: 4px 8px;
  margin: 0 4px;
}
@media screen and (max-width:900px) {
  .hidden{
    display: none;
  }
}
.navbar .parent.logo img {
  transform: translateY(1px);
}
.navbar .parent:hover {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-white-200);
}
.parent > ul {
  display: none;
  position: absolute;
  left: 0;
}
.parent:hover > ul {
  display: block;
  animation: opacity 0.3s;
}
.parent > ul {
  font-weight: 600;
  padding: 4px;
  min-width: 200px;
  background: var(--color-white-800);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.parent > ul > li {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.parent > ul > li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.parent > ul > li > button {
  text-align: left;
  padding: 4px 8px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}
.parent > ul > li > button:hover {
  color: #ffffff;
  background: #007ff7;
}
.navbar__right > li{
  margin-left: 12px;
}
.navbar__right img {
  width: 18px;
  height: 18px;
}
.navbar__right .clock {
  display: flex;
}
.navbar__right .clock #txt {
  width: 65px;
  margin-left: 5px;
  text-align: left;
}

/*bootom menu*/

.earth {
  position: fixed;
  padding: 0 8px;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(80px);
  border: 0.25px solid var(--color-white-100);
  background: var(--color-white-100);
  border-radius: 14px;
  display: flex;
  align-items: center;
}
.earth hr {
  width: 1px;
  height: 45px;
  margin: 0 4px;
  background: var(--color-black-50);
}
.earth li {
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: all 0.1s;
}
.earth li:hover {
  transform: scale(1.3);
}
.earth li img {
  width: 67px;
  border-radius: 10px;
  transform: translateY(-2.5px);
}
.earth li img:active{
  animation: to-top-bottom 1s;
}
@media screen and (max-width: 600px) {
  .earth {
    top: 83vh;
  }
}
@keyframes to-top-bottom {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-7px);
  }
  40% {
    transform: translateY(14px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-3px);
  }
} 

.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: none;
}

/********** WINDOW **********/
.window {
  display: none;
  width: 70%;
  height: 430px;
  overflow: hidden;
  border-radius: 10px;
  background: var(--color-black);
  box-shadow: 0 20px 30px var(--color-black-200);
  animation: zoom-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.window__taskbar {
  position: relative;
  height: 40px;
  display: flex;
  padding: 0 16px;
  border-bottom: 1px solid var(--color-white-200);
}
.window__taskbar--actions {
  display: flex;
  align-items: center;
}
.window__taskbar--actions button {
  width: 1px;
  height: 1px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: 0.4s;
}
.window__taskbar--actions button:not(:last-child) {
  margin-right: 8px;
}
.window__taskbar--actions button:nth-child(1) {
  background-color: #ff6059;
}
.window__taskbar--actions button:nth-child(1):hover {
  background-color: #fc3c32;
}
.window__taskbar--actions button:nth-child(2) {
  background-color: #ffbd2e;
}
.window__taskbar--actions button:nth-child(2):hover {
  background-color: #ffa600;
}
.window__taskbar--actions button:nth-child(3) {
  background-color: #28c941;
}
.window__taskbar--actions button:nth-child(3):hover {
  background-color: #12aa29;
}
.window__taskbar--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.window__taskbar--content h2 {
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
}
.window textarea {
  width: 100%;
  height: calc(100% - 41px);
  display: flex;
  padding: 16px;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  color: var(--color-white-900);
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

/* note app start*/
.taskabr-center {
  width: 100%;
  height: 10%;
  background-color: #212121;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.taskabr-center .content-left {
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  height: 100%;
}
.content-left img {
  width: 33px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.content-left img:hover {
  background-color: rgb(88, 88, 88);
  border: 1px solid white;
}
.content-left img:active {
  background-color: #464646;
  border-color: #dddbdb;
}

.taskabr-center .center {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center input[type='search'] {
  width: 100%;
  height: 83%;
  background-color: #3d3c3c;
  border: none;
  box-shadow: 0px 4px 0px -1px black;
  outline: none;
  border-radius: 7px;
  font-size: 18px;
  padding-left: 10px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  transition: 1s;
}
@media screen and (max-width: 600px) {
  .center input[type='search'] {
    width: 90%;
  }
}
.center input[type='search']:focus {
  box-shadow: none;
  transform: translateY(1px);
}
.content-right {
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  height: 100%;
}
.content-right img {
  width: 33px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.content-right img:hover {
  background-color: rgb(88, 88, 88);
  border: 1px solid white;
}
.content-right img:active {
  background-color: #464646;
  border-color: #dddbdb;
}
.content {
  width: 100%;
  height: 80%;
  display: flex;
}
.sidebar {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgb(102, 102, 102);
}
.sidebar h1 {
  color: white;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  border-bottom: 1px solid rgb(102, 102, 102);
  font-size: 21px;
}
@media screen and (max-width) {
  .sidebar h1 {
    font-size: 16px;
  }
}
.impor-content {
  width: 70%;
  border-left: 1px solid rgb(102, 102, 102);
  height: 100%;
}
.impor-content textarea {
  width: 100%;
  height: 100%;
  color: white;
  border-bottom-right-radius: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  display: none;
}
.notes {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-bottom: 1px solid rgb(102, 102, 102);
  transition: 0.2s;
  display: none;
  animation: top-to-bottom 0.3s;
}
.notes:active {
  background-color: #1b1b1b;
  border-color: rgb(80, 79, 79);
}
.notes input[type='text'] {
  width: 90%;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  outline: none;
  color: white;
}
@keyframes top-to-bottom {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
/*note app end */

/********** LAUNCHPAD **********/
.launchpad {
  display: none;
  width: 100%;
  height: 80%;
  background-color: transparent;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);
}
.searchbox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbox input {
  border-radius: 4px;
  background-color: transparent;
  backdrop-filter: blur(6px);
  outline: none;
  border-top: 1px solid rgba(255, 255, 255, 0.582);
  border-bottom: 1px solid rgba(255, 255, 255, 0.582);
  border-right: 1px solid rgba(255, 255, 255, 0.219);
  border-left: 1px solid rgba(255, 255, 255, 0.219);
  padding-left: 6px;
  text-align: center;
  color: white;
  font-size: 17px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
}
.searchbox input::placeholder {
  color: white;
  font-weight: 100;
}
.searchbox input:focus {
  text-align: left;
}
.container2 {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
}
.launchpad .child-launchpad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.launchpad .child-launchpad img {
  width: 80px;
}
.launchpad .child-launchpad:active {
  animation: vibrate 0.1s ease-in forwards infinite alternate;
  transition: transform 0.1s cubic-bezier(0.42, 0, 1, 0.2);
}
@keyframes vibrate {
  0% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(-9deg);
  }
}

.launchpad .child-launchpad p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/*scroll bar start*/
::-webkit-scrollbar-track {
  background-color: #34282d;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 11px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8b8d;
  border-radius: 10px;
  cursor: pointer;
}
/*scroll bar end*/

/********** ANIMATIONS **********/
@keyframes opacity {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*calculator start*/
.calculator{
  width: 30%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(80, 79, 79);
  border: 1px solid rgba(255, 255, 255, 0.384);
  animation: zoom-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
}
@media screen and (max-width:600px) {
  .calculator{
      width: 50%;
  }
}
.top{
  width: 100%;
  height: 30%;
  display: flex;
}
.left-content {
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 30%;
}
.button {
  cursor: pointer;
}
.button:nth-child(1){
  padding: 8px;
  background-color: #FF6059;
  border-radius: 10px;
  transition: 0.4s;
}
.button:nth-child(1):active {
  background-color: #fc3c32;
}
.button:nth-child(2){
  padding: 8px;
  background-color: #FFBD2E;
  border-radius: 10px;
  transition: 200ms;
}
.button:nth-child(2):active{
  background-color: #ffa600;
}
.button:nth-child(3){
  padding: 8px;
  background-color: #28C941;
  border-radius: 10px;
  transition: 200ms;
}
.button:nth-child(3):active{
  background-color: #12aa29;
}
.output{
  float: right;
  width: 70%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: white;
  overflow-x: scroll;
}
.input{
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.child{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: tahoma;
  border: 1px solid rgb(59, 59, 59);
  cursor: pointer;
  transition: 0.4s;
}
button{
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid rgb(59, 59, 59);
}
.r-radius{
  border-bottom-right-radius: 15px;
}
.l-radius{
  border-bottom-left-radius: 15px;
}
.large{
  grid-column-start: span 2;
}
.operator{
  backdrop-filter: blur(5px);
  background-color: #FD9E2A;
  color: rgb(255, 255, 255);
}
.number{
  background-color: #6c7177;
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.operator-2{
  background-color: #4b4b4b;
  color: white;
}
/*calculator end*/